.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#5429cc 27%, #f0f2f5 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
  padding: 32px 10%;
}

.content {
  width: 100%;
  min-height: 75vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

@media (max-width: 768px) {
  .background {
    background: linear-gradient(#5429cc 28%, #f0f2f5 0%);
    padding: 42px 16px 16px;
    height: 100%;
    min-height: 100vh;
    gap: 36px;
  }

  .content {
    gap: 32px;
  }
}
