.card {
  width: 100%;
  height: 136px;
  padding: 25px 32px 18px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card h2 {
  font-size: 16px;
  font-weight: 400;
}

.card img {
  width: 32px;
  position: absolute;
  top: 20px;
  right: 18px;
}

.card span {
  font-size: 32px;
}

@media (max-width: 768px) {
  .card {
    min-width: 290px;
    width: 100%;
    min-height: 200px;
    justify-content: unset;
  }
  .card h2 {
    font-size: 14px;
  }

  .card p {
    font-size: 12px;
    color: #969cb3;
  }

  .card div {
    margin-top: 48px;
  }
}
