.background-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #f0f2f5;
  width: 576px;
  height: 588px;
  padding: 64px 48px;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

.modal h2 {
  font-size: 24 px;
  color: #363f5f;
  font-weight: 400;
  padding-bottom: 32px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal input {
  background: #e7e9ee;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  width: 480px;
  height: 64px;
  font-size: 16px;
  color: #969cb3;
  padding: 0 1rem;
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bt-conteiner {
  display: flex;
  justify-content: space-between;
}

.vector {
  background: #f0f2f5;
  height: 14px;
  width: 14px;
  display: flex;
  text-align: right;
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
}
