.table-content {
  width: 100%;
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: 20px;
}

.table-content .table-header .table-header-row {
  color: #969cb3;
  text-align: left;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
}

.table-content .table-rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table-content .table-rows .table-row {
  display: grid;
  grid-template-columns: 2fr repeat(1, 1fr) 2fr;
  background: #ffffff;
  height: 64px;
  width: 100%;
  border-radius: 5px;
  align-items: center;
}

.table-row span:nth-child(1),
.table-header span:nth-child(1) {
  padding: 0 30px;
}

.separator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #969cb3;
}

@media (max-width: 768px) {
  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-title h3 {
    font-size: 20px;
    font-weight: 400;
    color: #363f5f;
  }

  .table-title span {
    font-size: 14px;
  }

  .table-content .table-rows .table-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px 24px;
    min-height: 128px;
  }

  .table-content .table-rows .table-row .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .table-row span:nth-child(1),
  .table-header span:nth-child(1) {
    padding: 0;
  }

  .table-row > span:nth-child(2) {
    font-size: 25px;
  }
}
